@font-face {
    font-family: 'Carmen Sans Regular';
    src: url('../font/CarmenSans-Regular.woff') format('woff'),
        url('../font/CarmenSans-Regular.eot') format('embedded-opentype'),
        url('../font/CarmenSans-Regular.woff2') format('woff2'),
        url('../font/CarmenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Carmen Sans Bold';
    src: url('../font/CarmenSans-Bold.woff') format('woff'),
        url('../font/CarmenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/CarmenSans-Bold.woff2') format('woff2'),
        url('../font/CarmenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, button, .content p, .register-form input{
    font-family: 'Carmen Sans Bold';
}

.welcome-message p {
    font-family: 'Carmen Sans Regular';
    font-size : 13px;
}

.aside-content {
    background: #14DB9C;
    float : left;
    width: 30%;
    min-height: 100vh;
    position: relative;
    min-width: 350px;
}

.welcome-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 70%;
}

button {
    padding: 16px 70px;
    border-radius: 30px;
}

.signin-button {
    background:#14DB9C;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
}

.main-content {
    float : left;
    width: 70%;
    min-height: 100vh;
    position: relative;
    min-width: 350px;
}

.content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70%;
}

.content h1{
    color: #04B4BC;
}

.content span {
    height: 40px;
    width: 40px;
    background: none;
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
}

.content p {
    color: rgb(165, 160, 160);
    margin-top: 30px;
}

.register-form input{
    height: 30px;
    width: 250px;
    padding: 10px 15px;
    background: #E7E8E8;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.signup-button {
    background: rgb(18, 179, 253);
    color: white;
    border: none;
    margin-top: 30px;
}